{% include 'header.html'%}
<body>
  <div id="proses" class="text-center w-50 border-info position-absolute top-50 start-50 translate-middle">
    <img src="/static/assets/img/loading.gif" alt="memproses data ..." class="mx-auto my-auto" height="200">
    <h4 class="text-info text-center"><b>Menyiapkan data ...</b></h4>
  </div>
  <div id="content">
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="#">Trunojoyoan</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/about">About</a></li>
          <li><a class="getstarted scrollto" href="#contact">Metode</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1 class="fs-1">Sistem Rekomendasi Hotel berbasis Multi-Kriteria dengan menerapkan Teknik Normalisasi dalam Pendekatan <i>Collaborative Filtering</i></h1><br>
        </div>
      </div>
      <div class="text-center">
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">
  
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
          <div class="col-lg-8 mt-5 mt-lg-0 mx-auto">
            <form action="/" method="POST">
              <div class="row">
                <h2 class="text-center">Rekomendasi</h2>
                <p class="text-center">Metode : {{metode}}</p>
                <div class="col-md-6 form-group">
                  <h4>Target <i>User</i></h4>
                  <select name="User_Target" id="User_Target" class="form-select">
                    {% for i in user %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-6 form-group">
                  <h4>Jumlah N</h4>
                  <select name="Top_N" id="Top_N" class="form-select">
                    {% for j in topN %}
                    <option value="{{j}}">{{j}}</option>
                    {% endfor %}
                  </select>
                  <input type="hidden" name="metode" value="{{metode}}">
                  <input type="hidden" name="menu" value="{{menu}}">
                  <input type="hidden" name="next" value="rekom">
                </div>
                <p class="text-danger fs-6"><i>Disclaimer</i>: Dataset yang digunakan sangat <i>sparse</i> karena jumlah hotel yang telah diberi <i>rating</i> oleh <i>user</i> sangatlah sedikit. Sedangkan metode evaluasi dilakukan secara <i>offline</i>, yaitu bahwa evaluasi dilakukan dengan membandingkan Data 
                  Rekomendasi (yang dihasilkan dari pemodelan metode) dengan Data <i>Ground-truth</i> (yang didapatkan dari dataset). Dengan 
                  demikian, kecenderungan nilai evaluasinya sangatlah rendah (atau bahkan bernilai “0” bagi sejumlah target <i>user</i>),</p>
                  <div class=" fs-6">
                  Berikut adalah contoh parameter yang hasil evaluasi rekomendasinya tidak bernilai “0”:
                  <ul>
                  {% if metode == 'MinMax User-Based (MUB)'%} <li>Target <i>User</i>: {1, 17, 92, 153, 161, 191, 217, 219, 339, 576}</li>
                  {% elif metode == 'MinMax Item-Based (MIB)'%} <li>Target <i>User</i>: {139, 268, 527, 726, 749, 831, 850, 945, 1029, 1139}</li>
                  {% else %}
                  {% endif %}
                  <li>Jumlah N: 20</li>
                  </ul>
                </div>
                <button type="submit" value="Tampilkan Rekomendasi" class="btn btn-primary mx-auto w-25 mt-2" id="kirim">Tampilkan Rekomendasi</button>
                <script>
                  $(document).ready(function () {
                    $("#proses").hide();

                    $("#kirim").click(function () {
                      $("#proses").show();
                      $("#content").hide();
                    });
                    $("#kirim2").click(function () {
                      $("#proses").show();
                      $("#content").hide();
                    });
                  });
                </script>
            </form>
          </div>
          </div>
          </div>

 
    </section><!-- End Contact Section -->
  </main><!-- End #main -->

  {% include 'footer.html' %}

  <!-- Vendor JS Files -->
  <script src="{{ url_for ('static', filename='assets/vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for ('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for ('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for ('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for ('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ url_for ('static', filename='assets/vendor/purecounter/purecounter.js') }}"></script>
  <script src="{{ url_for ('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for ('static', filename='assets/js/main.js') }}"></script>
  
</div>
</body>

</html>